{{page-title "Account Information - Residential Portal"}}

<div class="residential-billing-page">
  <div class="page-header">
    <h1>Account Information</h1>
    <p class="page-description">
      Your residential account is completely free. View your account status and benefits below.
    </p>
  </div>

  <div class="billing-container">
    <BillingManagement />
  </div>
</div>